<link rel="icon" type="image/png" href="/favicon/favicon-48x48.png" sizes="48x48" />
<link rel="icon" type="image/svg+xml" href="/favicon/favicon.svg" />
<link rel="shortcut icon" href="/favicon/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png" />
<link rel="manifest" href="favicon/site.webmanifest" />
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-config" content="/favicons/browserconfig.xml">
<meta name="theme-color" content="#ffffff">
<!-- https://metatags.io/ -->
<meta
  property="og:image"
  content="{{ 'favicon/share-thumbnail.jpg' | relative_url }}"
/>
<meta
  property="twitter:image"
  content="{{ 'favicon/share-thumbnail.jpg' | relative_url }}"
/>
